.deputado {
	padding: 1rem;
}

.title {
	text-align: center;
}

.deputado_photo {
	max-width: 250px;
}

.basic-info {
	width: 500px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.basic-info .tags {
	margin: 0;
}

.info-card {
	width: 800px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 5px;
	padding: 1rem;
	box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
	margin-top: 1rem;
}

.info-card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.info-text {
	font-size: 1.2rem;
}

.info-text span {
	margin: 0.5rem;
}
