.loader-wrapper {
  display: flex;
  width: 100%;
  height: 50vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h4 {
    margin-top: 10px;
    font-size: 20px;
  }

  svg {
    color: #f3a62d;
    width: 100px;
    height: 100px;
  }
}
