.divPartido {
  display: grid;
  grid-template-columns: 40% auto;
  grid-gap: 40px;
  margin-top: 59px;
  margin-left: 66px;
  margin-right: 66px;

  h1 {
    font-size: 30px;
  }

  .infoPartido {
    display: flex;
    flex-direction: column;
  }
}

.partido {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border: 1px solid #adadad;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 25px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 61px;
    margin-bottom: 58px;
  }

  img {
    height: 60%;
    width: 60%;
    margin-top: 10px;
  }
}

.status {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #adadad;
  box-sizing: border-box;
  padding: 10px;
  height: 100%;

  div:first-child {
    text-align: center;
  }

  div {
    margin-bottom: 15px;
  }

  label {
    margin-top: 10px;
    font-size: 12px;
    line-height: 14px;
    padding: 5px 0px 5px 10px;

    background: #e7e7e7;
    border-radius: 6px 0px 0px 6px;
  }

  .backgroundYellow {
    padding: 5px 10px 5px 10px;
    background: #f3a62d;
    border-radius: 0px 6px 6px 0px;
    margin-right: 10px;
  }
}

.infoPresidente {
  background: #ffffff;
  border: 1px solid #adadad;
  box-sizing: border-box;
  padding: 10px;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }

  .image-lider {
    width: 250px;
  }

  p {
    font-size: 24px;
    text-align: center;
  }
}
