ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    color: #da552f;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    transition: all 0.2s;
}

li a:hover {
    background-color: #111111;
}