@media only screen and (min-width: 1440px) {
  .content__list {
    padding: 0px 100px;
  }
}

.paginate__container {
  background-color: #fff;
  border: 1px solid;
  border-radius: 6px;
  border-color: #e5e5e5;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  color: #2f2f2f;
  padding: 15px 0px;

  a {
    font-family: 'Montserrat';
    color: #2f2f2f;
  }

  li a {
    padding: 5px 14px;
    margin: 0px 5px;
    &:hover {
      background-color: rgba(221, 221, 221, 0.514);
      border-radius: 6px;
    }
  }
}

.paginate__previous {
  margin-right: auto;
  margin-left: 30px;
}

.paginate__next {
  margin-left: auto;
  margin-right: 30px;
}

.paginate__active {
  background-color: #f3a62d;
  border-radius: 6px;
  a {
    color: #fff !important;
  }
}

.paginate__numbers {
  a {
    color: #2f2f2f;
  }
}
