@import "../../pages/Main//variables.scss";

.deputado-card {
  margin: auto;
  max-width: 300px !important;

  .title {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 20px;
  }

  .deputado-img {
    height: 300px;
    width: 100%;
  }

  .deputado-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .detalhes-link {
    font-size: 12px;
    color: $orange;
    text-align: right;
  }
}
