* {
  outline: none;
}

html {
  height: 100%;
}

body {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
  background-color: #f7f8f9;
  color: #2f2f2f;
  min-height: 100%;
  min-width: fit-content;
}

.content__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  padding: 20px;
}
