* {
  outline: none;
}

body {
  font-family: 'Roboto Slab', serif;
  background-color: #f7f8f9;
  min-height: 100vh;
}

.content__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container {
  padding: 20px;
}
