@import '../main//variables.scss';

.pagination-buttons {
    display: flex;
    justify-content: space-between;
}

.pagination-buttons button {
    border-radius: 5px;
    border: 2px solid $orange;
    background: none;
    margin-top: 10px;
    color: $orange;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    cursor: pointer;
}

.pagination-buttons button:hover{
    background: $orange;
    border: 2px solid #DDD;
    color: #DDD;
    padding: 0px 20px; 
}

.pagination-buttons button:disabled{
    background: #DDD;
    border: 2px solid #DDD;
    color: #000;
    padding: 0px 20px; 
    cursor: not-allowed;
}